header {
    background-color: lightblue;
}
img {
    width: 200px;
    margin: 20px;
}

h1 {
    font-size: 30px;
    margin-bottom: 0px;
}
.title > div {
    font-size: 15px;
    margin-top: 0px;
    color: rgb(0, 0, 0, 0.5);
}
span {
    color: rgb(0, 0, 255, 0.5);
}